<a href="https://colab.research.google.com/github/HarshadShah3/Python-Programs/blob/main/Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Roll No: I056

Name: Harshad Shah

Program: AI

Semester: 2nd

Batch: I2

Date of Experiment: 15/02/21

# Task 1:  

Program to demonstrate data type in python. 

1.1 Program to print basic data type of given variable 

i. a = 5		 ii. a = 2.0 	iii. a = 1+2j 	iv. a = ‘NMIMS’

In [38]:
a = 5
print(type(a))
a = 2.0
print(type(a))
a = 1+2j
print(type(a))
a = 'NMIMS'
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

Task 2:  
Write a Python Program to the roots of a Quadratic Equation. d = b2 - 4ac

In [37]:
a = int(input('Number for the x^2 coordinate :'))
b = int(input('Number for the x^1 coordinate :'))
c = int(input('Number for the x^0 coordinate :'))

d = (b**2) - 4*a*c

r1 = (-b+(d**(1/2)))/(2*a)
r2 = (-b-(d**(1/2)))/(2*a)

print("The roots are {0} and {1}".format(r1,r2))

Number for the x^2 coordinate :5
Number for the x^1 coordinate :2
Number for the x^0 coordinate :1
The roots are (-0.19999999999999998+0.4j) and (-0.20000000000000004-0.4j)

Task 3:  
Write a Python Program to Convert Celsius To Fahrenheit.

In [36]:
c = int(input('Enter TEmperature in Celcius :'))
f = ((c * (9/5)) + 32)

print('The Temperature in Farenheit will be :', f)

Enter TEmperature in Celcius :45
The Temperature in Farenheit will be : 113.0

Task 4: 
What will be the output of the following Python code? Justify.

1.	str="NMIMS BTech Artificial Intelligence"
str[11:22]


2.	a=10
a = a + '2'
a = a*2


3.	x = 1234
print("%08d"%x)

In [35]:
str="NMIMS BTech Artificial Intelligence"
str[11:22]

' Artificial'

In [34]:
a=10
a = a + '2'
a = a*2

TypeError: ignored

In [33]:
x = 1234
print("%08d"%x)

00001234

Task 5:
Write a Python program to convert the distance (in feet) to inches, yards, and miles.

In [32]:
f = int(input('Enter distance in Feet :'))
i = (f*12)
y = (f/3)
m = (f/5280)

print('The distance in Inches :', i)
print('The distance in Yards :', y)
print('The distance in Miles :', m)

Enter distance in Feet :658
The distance in Inches : 7896
The distance in Yards : 219.33333333333334
The distance in Miles : 0.12462121212121212

Task 6 : 
Write a Python program to solve (x + y) * (x + y). 

Read the values of x and y from the user.
Expected Output : ((x + y) ^ 2)

In [31]:
x = int(input('Enter a Value :'))
y = int(input('Enter another Value :'))

total = ((x+y)**2)
print('The total value is :', total)

Enter a Value :2
Enter another Value :7
The total value is : 81

Task 7 :
1.	Write a Python program to convert seconds to day, hour, minutes and seconds.
2.	Write a Python program to convert the number of days to years, months & days.

In [30]:
s = int(input('Enter the number of Seconds :'))
day = s//(60*24*60)
s = s%(60*24*60)
hrs = s//(60*60)
s = s%(60*60)
min = s//60
s = s%60

print('Days :', day)
print('Hours :', hrs)
print('Minutes :', min)
print('Seconds :', s)

Enter the number of Seconds :98754
Days : 1
Hours : 3
Minutes : 25
Seconds : 54

In [29]:
d = int(input('Enter number of Days :'))
y = d//365
d = d%365
m = d//30
d = d%30

print('Years :', y)
print('Months :', m)
print('Days :', d)

Enter number of Days :657
Years : 1
Months : 9
Days : 22

Task 8 : 

1.	Write a Python Program to Calculate Area of an Ellipse.
2.	Write a Python Program to Find the Surface Area of Cone.

In [28]:
import math
import cmath
a = float(input('Enter variable A :'))
b = float(input('Enter variable B :'))

area = a*b*math.pi
print('The Area is :', area)

Enter variable A :10
Enter variable B :5
The Area is : 157.07963267948966

Task 9 : 
Write a Python program to display your birth date.  

Eg : birth_date = (11, 12, 2014)
Sample Output: Your Birthdate is  : 11 / 12 / 2014

In [27]:
r = float(input('Enter height :'))
h = float(input('Enter Radius :'))

area = (math.pi*r)*(r + (math.sqrt((r**2) + (h**2))))
print('Surface Area =', area)

Enter height :10
Enter Radius :10
Surface Area = 758.447559174816

In [26]:
btuple = ("11","12","2014")
print(btuple[0],"/",btuple[1],"/",btuple[2])

11 / 12 / 2014