<a href="https://colab.research.google.com/github/HarshadShah3/Python-Programs/blob/main/Practical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Roll no. : I056

Program: B.Tech CS-AI

Semester: 2

Name : Harshad Shah

Division: I

Batch: I2

Task 1:  
Write a python program to print list elements, 
1.	separated by commas.
2.	every element on the new line.

In [ ]:
fruits = ["apple" , "banana" , "kiwi" , "orange"] 
print(fruits[0], "," , fruits[1], ",", fruits[2], "," , fruits[3])
print(*fruits,sep="\n")

apple , banana , kiwi , orange
apple
banana
kiwi
orange

Task 2:  
Write a python program to print a list by converting a list to a string.

In [ ]:
numbers = ["one","two","three"]  
print(str(numbers)[1:-1])
print(' '.join(numbers)) Task 1:

'one', 'two', 'three'
one two three

Task 3:  
Write a python program to convert radian to degrees and vice versa.

In [ ]:
pi = 22/7
radian = float(input("Radians : "))
degree = radian*(180/pi)
print(degree)

Radians : 10
572.7272727272727

Task 4: 
Write a program to input 3 sides of a triangle and find sine, cosine, tangent and hypotenuse.

In [ ]:
import math
s1 = int(input("Enter side 1 : ")) 
s2 = int(input("Enter side 2 : ")) 
s3 = math.pi/6
print(math.sin(s3))
print(math.cos(s3)) 
print(math.tan(s3)) 
print(math.hypot(s1,s2))

Enter side 1 : 4
Enter side 2 : 3
0.49999999999999994
0.8660254037844387
0.5773502691896257
5.0

Task 5:  
Write a Python program using mathematical functions to find
1.	HCF of two numbers (User input)
2.	Factorial of a user given number.
3.	Absolute value of a user given number.

In [ ]:
import math
number1 = int(input("Enter first number : ")) 
number2 = int(input("Enter the second number : ")) 
print("HCF of two numbers : ",math.gcd(number1,number2))
print("Factorial : ",math.factorial(number1)) 
print("Absolute value : ",math.fabs(number1))

Enter first number : 2
Enter the second number : 3
HCF of two numbers :  1
Factorial :  2
Absolute value :  2.0

Task 6 : 
1.	Create a 'class_1' list and pass the elements  'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio'.
2.	Create a 'class_2' list and pass the elements 'Hilary Mason','Carla Gentry','Corinna Cortes'.
3.	Concatenate the 'class_1' and 'class_2' list. Store the values in a'new_class' variable.
4.	Print the 'new_class' variable to see the new list.
5.	Add a new element ‘Henry’ in the new list. 
6.	Remove the 'Hilary' element.
7.	Create the following list for marks of 5 subjects Andrew= [98, 93, 90, 100, 92], Carla= [60, 65, 60, 75, 69], Hilary= [87, 50, 54, 77, 52]
8.	Find and display percentage of all the students in a list.
9.	Andrew Ng turns out to be topper in class. Assign it to variable ‘topper’
10.	Split the 'topper'  in 'first_name' and 'last_name'.
11.	Display the ‘full name’ concatenating the strings 'last_name' and 'first_name' strings.( add whitespace)
12.	Convert all the elements in the 'full_name' string to uppercase.

In [ ]:
class_1 = ["Geoffrey Hinton","Andrew Ng","Sebastian Raschka","Yoshua Bengio"]
class_2 = ["Hilary Mason","Carla Gentry","Corinna Cortes"]
new_class = class_1 + class_2
print(new_class) 
new_class.append("Henry") 
new_class.pop(4) 
print(new_class) 
Andrew_marks = [98, 93, 90, 100, 92]
Carla_marks = [60, 65, 60, 75, 69]
Hilary_marks = [87, 50, 54, 77, 52]
perc_andrew = (Andrew_marks[0]+Andrew_marks[1]+Andrew_marks[2]+Andrew_marks[3]+Andrew_marks[4]/5)*100 
perc_carla = (Carla_marks[0]+Carla_marks[1]+Carla_marks[2]+Carla_marks[3]+Carla_marks[4]/5)*100 
perc_hilary = (Hilary_marks[0]+Hilary_marks[1]+Hilary_marks[2]+Hilary_marks[3]+Hilary_marks[4]/5)*100
print([perc_andrew , perc_carla , perc_hilary])  
topper = "Andrew Ng"
first_name = topper[0:6]
last_name = topper[7:]
full_name = last_name + last_name
print(full_name.upper())

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes']
['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Carla Gentry', 'Corinna Cortes', 'Henry']
[39940.0, 27380.0, 27839.999999999996]
NGNG

Task 7 : 

Write a Python program to clone or copy a list 

Write a Python program to check if a Python list is empty

In [ ]:
a = ["Monday" , "Tuesday" , "Wednesday" , "Thursday" , "Friday" , "Saturday" , "Sunday"] 
b = a.copy()
print(b)
c_list = []

if len(c_list):
	print('The list is not empty')
else:
	print('The list is empty')

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
The list is empty

Task 8 :

Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25))

Access value 20

Unpack the following tuple into 3 variables

In [ ]:
Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25))
a = Tuple[1][1]
print(a)
tuple1 = Tuple[0]
tuple2 = Tuple[1]
tuple3 = Tuple[2]
print(tuple1)
print(tuple2)
print(tuple3)

20
NMIMS
[10, 20, 30]
(5, 15, 25)

Task 9:

Write code to swap the following two tuples : tuple1 = (11, 22) tuple2 = (99, 88)

Expected Output : tuple1 = (99, 88) tuple2 = (11, 22)

tuple1 = (11, [22, 33], 44, 55)

Modify the first item (22) of a list inside a following tuple to 2000

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print("tuple1 =",tuple1,"tuple2 =",tuple2)
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=2000
print(tuple1)

tuple1 = (99, 88) tuple2 = (11, 22)
(11, [2000, 33], 44, 55)

Task 10:

tuple1 = (11, 22, 33, 44, 55, 11, 66, 11)

Write code to copy element 44 and 55 from the following tuple into a new tuple ‘tuple2’

Count the number of occurrences of item 11 in the tuple.

Reverse the tuple.

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 11, 66, 11)
tuple2 =(tuple1[3],tuple1[4])
print(tuple2)
i=0
k=0
for elem in tuple1:
  if tuple1[i]==11:
    k=k+1 
    i=i+1
  else :
    i=i+1
print("occurrences are", k)
aTuple = (10, 20, 30, 40, 50)
aTuple = aTuple[::-1]
print(aTuple)

(44, 55)
occurrences are 3
(50, 40, 30, 20, 10)