<a href="https://colab.research.google.com/github/HarshadShah3/Python-Programs/blob/main/Practical3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Roll no. : I056

Program: B.Tech CS-AI

Semester: 2

Date of Experiment: 01/03/2021

Name : Harshad Shah

Division: I

Batch: I2

Task 1:  
A shop will give a discount of 10% if the cost of the purchased quantity is more than 1000.
One unit will cost 100. Write a program to take quantity as input from the user and print the total cost for the user.

In [ ]:
quant = int(input('Enter number of items: '))
sum = float(quant*100)
if sum>1000:
  sum = sum - (0.1*sum)
print(f'The price of {quant} items is: Rs. {sum}')

Enter number of items: 11
The price of 11 items is: Rs. 990.0

Task 2:  
A school has the following rules for the grading system:
●	Below 25 - F
●	25 to 45 - E
●	45 to 50 - D
●	50 to 60 - C
●	60 to 80 - B
●	Above 80 - A
Ask the user to enter marks and print the corresponding grade.

In [ ]:
marks = float(input('Enter marks for grade: '))
if marks<25:
  print('Grade = F')
elif marks>=25 and marks<45:
  print('Grade = E')
elif marks>=45 and marks<50:
  print('Grade = D')
elif marks>=50 and marks<60:
  print('Grade = C')
elif marks>=60 and marks<80:
  print('Grade = B')
elif marks>=80:
  print('Grade = A')

Enter marks for grade: 85
Grade = A

Task 3:  

Ask users to enter age, gender ( M or F ), marital status ( Y or N ), and then using the following rules print their place of service.
●	If the employee is female, then she will work only in urban areas.
●	If an employee is a male and age is between 20 to 40 then he may work anywhere
●	If the employee is male and the age is between 40 to 60 then he will work in urban areas only.
And any other input of age should print "ERROR".

In [ ]:
age = int(input('Enter Age: '))
gen = str(input('Enter Gender(M or F): '))
mar = str(input('Enter Marital Status(Y or N): '))

if gen=='F':
  print('Place of service: Urban Areas only')
elif gen=='M':
  if age>20 and age<40:
    print('Place of service: Anywhere')
  elif age>=40 and age<=60:
    print('Place of service: Urban Areas only')
  else:
    print('Error')

Enter Age: 35
Enter Gender(M or F): M
Enter Marital Status(Y or N): Y
Place of service: Anywhere

Task 4: 
Write a program to print BMI (Body Mass Index), calculator.
Reference : https://cdn.vertex42.com/ExcelTemplates/Images/bmi-chart.gif

In [ ]:
wt = float(input('Enter Weight in Kilograms: '))
ht = float(input('Enter Height in Metres: '))
bmi = float(wt/(ht**2))
if bmi<18.5:
  print('Underweight')
elif bmi>=18.5 and bmi<=25:
  print('Normal')
elif bmi>25 and bmi<30:
  print('Overweight')
elif bmi>=30:
  print('Obese')

Enter Weight in Kilograms: 65
Enter Height in Metres: 1.8034
Normal

Task 5:  
Write a program to get the next day of a given date.(Also consider leap year)
Expected Output : Given date : 25-02-2021 then next day is 26-02-2021.

In [ ]:
date=input("Enter date in DD-MM-YYYY: ")
d, m, y=date.split("-")
leap=False
days=[31,28,31,30,31,30,31,31,30,31,30,31]
year=int(y)
month=int(m)
day=int(d)
if year%4 ==0:
  leap=True
  if year%100 ==0:
    leap=False
    if year%400 == 0:
      leap=True   
if leap is True:days[1]=29 
if day < days[month-1]:
   print(f"{day+1}-{month}-{year}")
elif month<12:
   print(f'1-{month+1}-{year}')
else:
   print(f'1-1-{year+1}')

Enter date in DD-MM-YYYY: 22-02-2021
23-2-2021

Task 6 : 
Write a program to print Odd and Even numbers from the list of integers. Create 2 empty lists to save even and odd numbers accordingly.

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
odd = list()
even = list()
for i in nums:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(odd)
print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

Task 7 :
Write a program to check the user entered number is an Armstrong Number.

In [ ]:
num = int(input('Enter number: '))
t = num
sum = int(0)
d = int(0)
while num>0:
  d = num%10
  sum = sum + (d**3)
  num = num//10
if sum==t:
  print('Armstrong number')
else:
  print('Not Armstrong number')

Enter number: 153
Armstrong number

Task 8 : 
Write a program to print out the decimal equivalents of 1/2,1/3,1/4,…1/10.
Expected Output: 0.5, 0.333, 0.25………..0.125, 0.1

In [ ]:
numer = int(input('Numerator: '))
denom = int(input('Denominator: '))
dec = float(numer/denom)
print(dec)

Numerator: 1
Denominator: 10
0.1

Task 9:
Write a program to count the number of even and odd numbers from a series of numbers.
(Initialize Tuple )

In [ ]:
nums = (1,2,3,4,5,6,7,8,9,10)
odd = int()
even = int()
for i in nums:
  if i%2 == 0:
    even = even + 1
  else:
    odd = odd + 1
print('Odd numbers = ', odd)
print('Even numbers = ', even)

Odd numbers =  5
Even numbers =  5

Task 10:
Write a program to display the multiplication table of 19.
Expected Output: 19 * 1 = 19…19 * 10 = 190

In [ ]:
for i in range(10):
  print(f'19 * {i+1} = {19*(i+1)}')

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

Task 11:
Write a program to print the sum of the Series 1 + x/1 + x^2/2 + x^3/3 + .. + x^n/n.
Test Case 1 : x = 3, n = 5→ sum = 86.35
Test Case 2 : x = 5, n = 3→ sum = 60.17

In [ ]:
x = int(input('Enter x: '))
n = int(input('Enter n: '))
sum = float(0.0)
for i in range(1,n+1):
  sum = sum + ((x**i)/(i))
print(sum+1)

Enter x: 3
Enter n: 5
86.35

Task 12:
Write a program to get the Fibonacci series between 0 to 100.

In [ ]:
n1 = int(0)
n2 = int(1)
sum = int(0)
while sum<=100:
  sum = n1 + n2
  n1 = n2
  n2 = sum
  if sum>100:
    break
  print(sum)

1
2
3
5
8
13
21
34
55
89

Task 13: 
Write a program to print digits in reverse order of a number.

In [ ]:
n = int(input('Enter number: '))
count = len(str(n))
print(count)
d=int(0)
res = int(0)
mul = 10**(count-1)
while(n>0):
  d = n%10
  res = res + d*mul
  mul = mul/10
  n = n//10
print(n)
print(res)

Enter number: 1234
4
0
4321.0